<% include Partials/header %>

<div class="row">
  <div class="col-md-9 col-md-offset-1">

    <div class="jumbotron">
      <h1>Welcome to the Library Database</h1>
      <p>This is a library database where you can access information about and store your favorite books!</p>
      <p><a class="btn btn-primary btn-lg" href="/books">Library</a></p>
    </div>

  </div>

  <div class="col-md-2"></div>
</div>


<% include Partials/footer %>